@font-face {
  font-family: "Raleway", sans-serif;
  src: url(./assets/fonts/Raleway-VariableFont_wght.ttf);
}

@font-face {
  font-family: "Expletus Sans", sans-serif;
  src: url(./assets/fonts/ExpletusSans-VariableFont_wght.ttf);
}

body {
  background-color: #292524;
  color: #fdf5e5;
}

h1 {
  font-family: "Expletus Sans", sans-serif;
  color: #c4a16a;
}

h2 {
  font-family: "Expletus Sans", sans-serif;
  color: #c4a16a;
}

h3 {
  font-family: "Expletus Sans", sans-serif;
  color: #c4a16a;
}

.book-box {
  padding: 5px;
  border-radius: 5px;
  background-color: #37442c;
  border: solid 1px #a78c6c;
  color: #fdf5e5;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.data-block {
  background-color: #292524;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
  padding: 5px;
  border-radius: 5px;
}



.like-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.heart {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.liked-status {
  box-shadow: 0 0 20px #c71c0c;
}

.comment-box {
  background-color: #292524;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 5px;
  border-radius: 5px;
}

.input-field {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 5px;
  border-radius: 5px;
}

.text-input {
  padding: 5px;
  box-sizing: border-box;
  border-radius: 5px;
  background-color: #464141;
  border: solid 1px #756d5d;
  color: #fdf5e5;
  transition: border-color 0.3s ease;
}

.text-input:focus {
  box-shadow: 0 0 20px #fdf5e5;
  border: solid 1px #858855;
  outline: none;
}


.comments {
  background-color: #292524;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 5px;
  border-radius: 5px;
}

@media (max-width: 700px) {
  .hidemobile {
    display: none;
  }
}

@media (min-width: 701px) {
  .hidedesktop {
    display: none;
  }
}
