#button-bar {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.button {
  padding: 5px;
  border-radius: 5px;
  background-color: #37442c;
  border: solid 1px #c4a16a;
  color: #fdf5e5;
  cursor: pointer;
}

.button:hover {
  box-shadow: 0 0 20px #fdf5e5;
  border: solid 1px #858855;
  color: #fdf5e5;
}
